<!DOCTYPE html>
<!--
	TODO: Task 1, Task 2, Task 3
-->
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Login</title>
</head>

<body>

	<h2>Please Login</h2>
	<form data-th-action="@{/login}" data-th-object="${user}" method="post">
		<table>
			<tr>
				<td>
					<label for="username">Username:</label>
				</td>
				<td>
					<input type="text" data-th-field="*{username}" size="30" placeholder="Please type in your username" />
					<span class="error" data-th-if="${#fields.hasErrors('username')}" data-th-errors="*{username}" style="color: red;"></span>
				</td>
			</tr>
			<tr>
				<td>
					<label for="password">Password:</label>
				</td>
				<td>
					<input type="password" data-th-field="*{password}" size="30" placeholder="Please type in your password" />
					<span class="error" data-th-if="${#fields.hasErrors('password')}" data-th-errors="*{password}" style="color: red;"></span>
				</td>
			</tr>
			<tr th:if="${loginAttempts > 0}">
				<td>
					<label for="captcha">What is </label><span th:text="${captcha}" name="captcha"></span>?
				</td>
				<td>
					<input type="text" size="30" name="captchaanswer" />
				</td>
			</tr>
			<tr>
				<td></td>
				<td>
					<button>Login</button>
				</td>
			</tr>
		</table>
	</form>
	<div th:if="${exception}" class="error-message">
		<p th:text="${exception}" style="color: red;"></p>
	</div>	
</body>

</html>